<section class="individualy-section">
  <div class="individualy-img">
    <img
      src="./img/individualy/individual-picture.jpg"
      alt="photo"
      width="680"
      height="480"
    />
  </div>

  <div class="individualy">
    <p class="individualy-subtitle">What you are looking for</p>
    <h2 class="individualy-title">We provide bespoke solutions</h2>
    <p class="individualy-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button type="button" class="individualy-button">Read More</button>
  </div>
</section>
