<section>
  <div class="container">
    <p>Who we are</p>
    <h2>Our Professional Team</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul>
      <li>
        <img src="" alt="John Doe">
        <div>
          <h3>John Doe</h3>
          <p>President</p>
        </div>
      </li>
      <li>
        <img src="" alt="Jane Doe">
        <div>
          <h3>Jane Doe</h3>
          <p>Vice President</p>
        </div>
      </li>
      <li>
        <img src="" alt="Steve Smith">
        <div>
          <h3>Steve Smith</h3>
          <p>Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>