/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./individualy.css');
@import url('./business.css');
@import url('./blog.css');
@import url('./our-team.css');
@import url('./callback.css');
@import url('./footer.css');

:root {
  font-family: "Open Sans",
    sans-serif;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  --prime-color: #333;
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}